@page "/"
@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@using YumBlazor.Services
@inject IProductRepos _prodRepos
@inject ICategoryRepos _catRepos
@inject IShoppingCartRepos _cartRepos
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject IJSRuntime _JS
@inject ICommon _Common
@inject NavigationManager _NavigationManager
@inject SharedStateService _SharedStateService
@inject NotificationService NotificationService
@* @attribute [Authorize] *@

<PageTitle>Yumm - Home</PageTitle>

@if (isProcessing)
{
    <div class="d-flex flex-column align-items-center justify-content-center bg-white min-vh-100">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="container py-5">

        @* Banner ======================================================= *@
        <div class="row">
            <div class="mx-auto d-flex align-items-center" style="max-width: 100%;">
                <img src="./images/table.webp"
                     alt="Banner"
                     class="object-fit-cover rounded-3"
                     height=300 width="100%"
                     decoding="async"
                     onerror="this.onerror=null; this.src='/images/default.png';" />
                @* loading="lazy"  *@
            
            </div>

            <div class="row py-2">
                <h2><b>Yumm</b> </h2>
            </div>
            <div class="row">
                <h5>Lingsgatan 3, Ystad, Skane, Sweden</h5>
            </div>
            <div class="row">
                <h5>Online order hours: 5:30PM - 9:45PM</h5>
            </div>
        </div>

        @* Search Box ======================================================= *@
        <div class="bg-dark p-3 rounded-3">
            <div class="mx-auto d-flex align-items-center" style="max-width: 400px;">
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill "
                           @bind:event="oninput" @bind:get="_searchText" @bind:set="FilterByName"
                           placeholder="Search the menu!" />
                    <span class="input-group-text border-0 bg-transparent">
                        <i class="bi bi-search text-white" title="Search the menu"></i>
                    </span>
                    <button class="btn btn-outline-dark rounded-pill" type="button" @onclick="ClearSearch">
                        <i class="bi bi-x-circle text-light" title="Clear search"></i>
                    </button>
                </div>
            </div>
        </div>

        @* Categories =======================================================*@
        <div class="m-2 px-4">
            <ul class="nav nav-underline justify-content-center mb-2">
                <li class="nav-item">
                    <span class="nav-link @GetActiveTab(0)" style="cursor: pointer" @onclick="()=>FilterProducts(0)">All</span>
                </li>
                @foreach (var cat in Categories)
                {
                    <li class="nav-item">
                        <span class="nav-link @GetActiveTab(cat.Id)"
                              style="cursor: pointer" @onclick="()=>FilterProducts(cat.Id)">@cat.Name</span>
                    </li>
                }
            </ul>
        </div>

        @* Products =======================================================*@
        @if (FilteredProducts.Any())
        {
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-3">
                    
                @foreach (var prod in FilteredProducts)
                {
                    <div class="d-flex my-2">
                        <div class="card flex-row w-100">

                            <div class="col-8">
                                <div class="card h-100 border border-0">
                                    <div class="card-body"> 
                                        <h6 class="text-truncate mb-0"><b>@prod.Name</b></h6>
                                        @if ( !string.IsNullOrEmpty(prod.Tag))
                                        {
                                            <span class="badge bg-success-subtle text-success text-body-emphasis ">
                                                <i class="bi bi-star-fill"></i>
                                                @prod.Tag
                                            </span>
                                        }
                                        @if (!string.IsNullOrEmpty(prod.Description))
                                        {
                                            <p class="text-secondary mb-0">@((MarkupString)@prod.Description)</p>
                                        }
                                            
                                    </div>
                                    <div class="col text-secondary h6 mx-3" 
                                        style="cursor:pointer;"
                                        title="Add to Cart"
                                        @onclick="() => AddOrderItem(prod)">
                                        <b>@prod.Price.ToString("C", CultureInfo.GetCultureInfo("se-SE"))</b>
                                            
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="position-relative d-flex justify-content-end">
                                    <img src="@(!string.IsNullOrEmpty(prod.ImageUrl) ? prod.ImageUrl : "images/default.png")"
                                         alt="@prod.Name"
                                         class="product-card-img object-fit-cover"
                                         loading="lazy" decoding="async"
                                         onerror="this.onerror=null; this.src='/images/default.png';"
                                         width=100 height=100
                                         />
                                    <span class="position-absolute bottom-0 end-0 m-2" style="cursor:pointer;" title="Add to cart"
                                          @onclick="() => AddOrderItem(prod)">
                                        <i class="bi bi-plus-circle" style="font-size: 2rem; color:  white;"></i>
                                    </span>
                                </div>
                            </div>
                            
                        </div> @* row *@
                </div>            
                }
            </div> @* row cols *@
    }
    else
    {
        <div class="alert alert-info text-center m-4">
            <i class="bi bi-info-circle"></i> No products found.
        </div>
    }
    </div>
}

@code {
    private IEnumerable<Product> Products = new List<Product>();
    private IEnumerable<Category> Categories = new List<Category>();
    private IEnumerable<Product> FilteredProducts = new List<Product>();

    private bool isProcessing { get; set; } = true;
    private int _selectedCategoryId = 0;
    private string _searchText = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
            isProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadProducts()
    {
        Products = await _prodRepos.GetAllAsync();
        Categories = await _catRepos.GetAllAsync();
        FilterProducts(0);
    }

    private void FilterProducts(int catId)
    {
        if (catId == 0)
        {
            FilteredProducts = Products;
            _selectedCategoryId = catId;
            return;
        }
        else
        {
            FilteredProducts = Products.Where(u => u.CategoryId == catId).ToList();
            _selectedCategoryId = catId;
            _searchText = String.Empty;
        }
    }

    private void FilterByName(string text)
    {
        if (string.IsNullOrWhiteSpace(text))
        {
            FilteredProducts = Products;
        }
        else
        {
            FilteredProducts = Products
                .Where(u => u.Name.Contains(text, StringComparison.InvariantCultureIgnoreCase)).ToList();
        }
        _searchText = text;
    }

    private string GetActiveTab(int catId)
    {
        return catId == _selectedCategoryId ? "active" : string.Empty;
    }

    private async Task AddOrderItem(Product prod)
    {
        if (!await _Common.IsUserAuthenticated())
        {
            _NavigationManager.NavigateTo("account/login", true);
        }
        else
        {
            var userId = await _Common.GetUserId();
            var result = await _cartRepos.UpdateCartAsync(userId, prod.Id, 1);
            _SharedStateService.CartCount = await _cartRepos.GetTotalCartAsync(userId);

            if (result)
            {
                _JS?.ToastrSuccess("Product added to Cart");
            }
            else
            {
                _JS?.ToastrError("Something went wrong");
            }
        }
    }

    private void ClearSearch()
    {
        _searchText = string.Empty;
        FilteredProducts = Products;
    }
}